<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= @user.name %> </h1>
    <h4>Username: <%= @user.username %> </h4>
    <h4>Email: <%= @user.email %> </h4>
    <h4>Posts: </h4>
    <ul><% @user.comments.each do |comment| %>
        <li> <%= link_to comment.title, user_comment_path(comment) %> </li> 
        <%end%>
    </ul>
</body>
</html>