<h1>Your Portfolio</h1>
<% if @sps == nil %>
  <%= "You have no stocks in your portfolio." %>
<% else %>
<% @sps.each do |stock|%>
<%= link_to (stock.stock.symbol), stock_path(stock.stock.id)%><br>
<h4>Shares</h4><%= stock.shares %>
<h4>Value:</h4><%(stock.shares * @price.to_i)%>
<%end%>
<% end %>
<%= link_to('Search Stocks', stocks_path)%>
